/* --------- */
/* Navbar Section  */
/* --------- */

body {
  padding-top: 60px; /* Adjust padding to account for the navbar height */
}

.btn-primary {
  display: inline-block;
  font-size: 1.5rem; /* Increase the font size */
  padding: 1rem 2rem; /* Adjust the padding for a bigger button */
  border-radius: 0.5rem; /* Optional: adjust the border radius */
  background-color: rgb(252, 97, 0); /* Set your desired background color */
  border: 1px solid rgb(243, 131, 61);
  color: white; /* Set your desired text color */
  transition: background-color 0.3s ease; /* Smooth transition */
  text-align: center;
}

.btn-primary:hover {
  background-color: rgb(209, 81, 1); /* Change background color on hover */
  border-color: rgb(209, 81, 1);
  color: #ffffff; /* Change text color on hover */
}

.btn-second {
  display: inline-block;
  font-size: 1.5rem; /* Increase the font size */
  padding: 1rem 2rem; /* Adjust the padding for a bigger button */
  border-radius: 0.5rem; /* Optional: adjust the border radius */
  background-color: #dfe1e4; /* Set your desired background color */
  border: 1px solid #000000;
  color: rgb(0, 0, 0); /* Set your desired text color */
  transition: background-color 0.3s ease; /* Smooth transition */
  text-align: center;
}

.btn-second:hover {
  background-color: #cecbcc;
  color: #000000;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  padding: 0 1rem; /* Adjust padding */
  margin: 0;
  height: 60px; /* Fixed height */
  position: fixed; /* Fix the navbar to the top */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar is above other elements */
}

@media (max-width: 992px) {
  .navbar {
    height: auto;
    padding: 0.5rem 1rem; /* Adjust navbar padding */
  }
}

.navbar-logo {
  max-height: 50px; /* Maintain aspect ratio */
  width: auto; 
}

.navbar-nav .nav-link {
  font-size: 1.25rem; /* Increase the font size */
  padding: 1rem; /* Adjust the padding */
}

.navbar-nav .nav-item {
  margin: 0 1rem; /* Adjust the margin */
}

/* Media query for smartphone mode */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Increase the font size slightly for better readability on small screens */
    padding-right: 1rem; /* Adjust padding */
    padding-left: 1rem; /* Adjust padding */
  }

  .navbar-toggler {
    padding: 0.5rem; /* Reduce padding */
  }

  .navbar-nav .nav-item {
    margin-left: 0; /* Adjust margin for better spacing */
  }

  .navbar-nav .nav-item a {
    padding: 0.7rem 1rem; /* Adjust padding for menu items */
  }
}

/* --------- */
/* Hero section */
/* --------- */

.hero-section {
  position: relative;
  width: 100%;
  height: 600px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Light background color for the hero section */
  z-index: 1; /* Ensure hero section is above other content */
  padding-top: 60px; /* Adjust padding to account for the navbar height */
  margin-bottom: 50px; /* Adjust this value based on your design */
}

.scroll-down-arrow {
  position: absolute; /* Position the arrow relative to the hero section */
  bottom: -40px; /* Adjust this value as needed to place the arrow just below the hero section */
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.hero-card {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../../assets/background-image.jpg') center center/cover no-repeat;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2; /* Ensure hero card is above the hero section */
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #fff;
}

.background-video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn-primary {
  margin-top: 20px;
}

.btn-primary .mr-2 {
  margin-right: 0.5rem;
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.tag {
  background-color: #ffffff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  color: #000000;
}

.tag:hover {
  background-color: #e2dfe0;
  color: #000000;
}

/* Responsive design */
@media (max-width: 800px) {
  .hero-card {
    flex-direction: column;
    text-align: center;
  }

  .text-container, .video-container {
    width: 100%;
  }

  .text-container {
    align-items: center;
  }

  .btn-primary {
    margin: 20px auto 0;
  }

  .video-container {
    margin-top: 20px;
  }
}

.video-container {
  position: relative;
}

.video-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-ring-container {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.play-pause-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Ensures the icon does not capture clicks */
}

.btn-transparent {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-transparent svg {
  pointer-events: none; /* Ensure the SVG doesn't interfere with button clicks */
  color: white;
}

/* --------- */
/* Home section */
/* --------- */

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.home-row-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.heading {
  padding-bottom: 10px;
  color: #343a40; /* Dark color for the header */
}

.text-content {
  padding: 20px;
  text-align: left;
  font-size: 1.25rem;
  color: #6c757d; /* Cool gray color for the text */
}

/* --------- */
/* Footer */
/* --------- */

.footer {
  background-color: rgb(248, 249, 250);
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px;
}

.footer-copywright, .footer-body {
  text-align: center;
}

.footer h3 {
  font-size: 1em;
  color: rgb(95, 99, 104);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer-icons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

.blockquote-footer {
  color: #a588c0;
}